:root{
    --primary-color: #428bca;
    --sidebar-width: 250px;
    --green-color:hsla(160, 100%, 37%, 1);
    --light-green: hsla(160, 100%, 37%, 0.2);
    --headerBackground: linear-gradient(96.67deg, #0F4A78 0, #54A4DE 100%);
    --white:#fff;
    --font:'Noto Sans Mono', monospace;
    --font2: 'Quicksand', sans-serif;
}
table thead tr th{
    background: #d9d9d9
}
table{
    border-collapse: collapse;
}
th, td{
    padding: 5px;
}
table tbody tr:nth-child(even) td{
    background-color: #f2f2f2;
}